<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área aluno</title>
</head>
<body>
    <div class="my-classes">
        <h1>Minhas turmas</h1>

        <div class="box">
            <h1>Turma A</h1>
        </div>

        <div class="box">
            <h1>Turma B</h1>
        </div>

        <div class="box">
            <h1>Turma C</h1>
        </div>
    </div>

    <span>deu tempo n kkkkkkkkk</span>
</body>
</html>